.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .dashboard-events-container th {
    width: 25%;
  }

  .dashboard-events-container form {
    display: inline-block;
  }