body,
html {
    margin: 0;
    padding: 0;
    background-image: url('/img/galaxia.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

h1 {
    color: rgb(155, 0, 147);
    text-align: center;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: rgb(155, 0, 147);
    padding: 0 10px;
    margin: 0 2px;
}

header {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(22, 5, 21));
    /* COR DO FUNDO */
    color: #ffc5c5;
    /* COR DA LETRA */
    margin: 0;
    height: 42px;
    padding: 10px 0 8px 0;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #2e1f2d;
    box-shadow: 0 4px 4px -2px #492f44;
    -moz-box-shadow: 0 4px 4px -2px #2c0a1e;
    -webkit-box-shadow: 0 4px 4px -2px #2b0e31;
}

.wrapper img {
    /*border: 1px dotted #BBBBBB;*/
    width: 40px;
    margin: 0 auto 0 auto;
}

.wrapper {
    /*border: 1px dotted #BBBBBB;*/
    width: 980px;
    margin: 0 auto 0 auto;
}

header .wrapper img {
    width: 40px;
    /* largura */
    float: left;
}

header .wrapper span {
    display: block;
    float: left;
    margin: 12px 0px 0px 8px;
}

header .wrapper nav {
    display: block;
    float: right;
    margin: 12px 0px 0px 8px;
    font-size: 15px;
    /* TAMANHO DA FONTE */
}

header .wrapper nav ul {
    margin: 0;
}

header .wrapper nav ul li {
    display: inline-block;
    margin: 0px 0px 0px 18px;
}


footer,
p {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(22, 5, 21));
    width: 100%;
    height: 100px;
    position:absolute;
    bottom: 0;
    left: 0;
    color: rgb(155, 0, 147);
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    padding-top: 5px;
    font-weight: bold;
}
 
.postar{    
    text-align: center;
    display: "inline_block";
    font-family: arial;
    padding: 40px;
    margin-right: 50px;
} 

#auth-create{      
    float: left;  
    text-align: center;
    display: "inline_block";
    font-family: arial;
    padding: 40px 10px 20px 10px ;
    margin-right: 100px;
   
}
#auth-view{      
    float: left;  
    text-align: center;
    display: "inline_block";
    font-family: arial;
    padding: 40px 10px 20px 10px ;
    margin-left: 478px;
   
}

#models {
    margin-top: 150px;
    float: left;
    margin-left: 600px;
}

#guest {
    float: left;
    margin: 250px 0 0 570px;
    
}
